<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <style>
            table, th, td {
                border: 1px solid;
            }
        </style>
        <h1>Estacionamiento</h1>

        <table>
            <tr>
                <th>Numero de sensor</th>
                <th>Estado</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>{{Sensor.ubicacion}}</td>
                    <td>{{Sensor.estado}}</td>
                 </tr>    
            
            {% endfor %}
        
        </table>

    </body>

</html>
